main {
  min-width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: var(--background-dark-home);
}

main .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-fluid .game-board {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 530px;
  padding: 0px;
  background: whitesmoke;
  border-radius: 8px;
}

.game-board .cover-board {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 100%;
  position: relative;
  background: transparent;
  border-radius: 8px 0px 0px 8px;
}

.cover-board img.blured-cover {
  width: 100%;
  height: 100%;
  position: relative;
  filter: blur(4px);
  border-radius: 8px 0px 0px 8px;
  object-fit: cover;
}

.cover-board img.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
}

.cover-board:hover img.cover,
.cover-board:hover img.blured-cover {
  transform: scale(0);
}

.game-board .infos-board {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
  height: 100%;
  padding: 10px;
  border-left: 2px solid var(--gray-6);
  border-radius: 0px 8px 8px 0px;
  background: var(--gray-1);
  gap: 20px;
}

.infos-board .title-genre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--gray-6);
}

.title-genre h2,
.title-genre h3 {
  margin: 0px;
}

.title-genre h3 {
  color: var(--primary-green);
}

.infos-board .description {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: auto;
}

.infos-board .text-bignumber-rate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 0px;
}

.text-bignumber-rate .bignumber-rate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 60px;
  background: var(--gray-1);
  border: 1.5px solid var(--gray-6);
  border-radius: 50%;
  color: black;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: all 0.6s ease;
}

.infos-board .average-rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0px;
}

.text-bignumber-rate .p-rate,
.average-rate .p-rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0px;
  gap: 5px;
}

.p-rate p {
  margin: 0px;
}

.text-bignumber-rate .text-my-rate {
  transition: all 0.6s ease;
}

.fw-500 {
  font-weight: 500;
}

.average-rate .bignumber-rate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  color: black;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
  transition: all 0.6s ease;
}

.infos-board .rate {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-height: 12px;
  padding: 0px;
  margin: 0;
  border-radius: 12px;
  gap: 3px;
}

.rate div {
  width: 10%;
  padding: 0px;
  margin: 0;
  height: 12px;
  transition: all 0.6s ease;
}

.rate div:hover {
  cursor: pointer;
}

.rate-note.r-1 {
  border-radius: 12px 0px 0px 12px;
}

.rate-note.r-10 {
  border-radius: 0px 12px 12px 0px;
}

.rate-note.rate-red {
  background: var(--red-pastel-rate);
}

.rate-note.rate-yellow {
  background: var(--yellow-pastel-rate);
}

.rate-note.rate-green {
  background: var(--green-pastel-rate);
}

.game-board .top-comments {
  display: flex;
  flex-direction: row;
  width: 100%;
}
