:root {
  --system-blur: 20px;
  --glass-opacity: 0.7;
  --white: white;
  --black: black;
  --primary: #088a85;
  --primary-light: #5cddd9;
  --primary-green: #198754;
  --primary-dark: #04615d;
  --gray-1: #f5f5f7;
  --gray-2: #e5e5ea;
  --gray-3: #d1d1d6;
  --gray-4: #c7c7cc;
  --gray-5: #aeaeb2;
  --gray-6: #8e8e93;
  --pastel-blue: #a2d2ff;
  --pastel-green: #a7f3d0;
  --pastel-pink: #ffafcc;
  --little-black: #333;
  --translucid-background-white: rgba(255, 255, 255, 0.8);
  --transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  --gradient-dark-theme: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.9),
    rgba(8, 138, 133, 0.85)
  );
  --gradient-dark-theme-invert: linear-gradient(
    135deg,
    rgba(8, 138, 133, 0.85),
    rgba(0, 0, 0, 0.9)
  );
  --background-dark-home: #0c1111;
}
