{% extends 'base.html' %}{% block title %}Game Page | TheCritic {% endblock %}
{% block head %} <link rel="stylesheet" href="/static/css/gamepage.css" />
{% endblock %} {% block content %}
<main>
  <div class="container-fluid">
    <div class="game-board mt-3">
      <div class="cover-board">
        <img
          class="blured-cover"
          src="{{ game.src_cover }}"
          alt="{{ game.name }}"
        />
        <img class="cover" src="{{ game.src_cover }}" alt="{{ game.name }}" />
      </div>

      <div class="infos-board">
        <input
          type="hidden"
          name="id-game"
          id="id-game"
          value="{{ game.id }}"
        />

        {% if rate %}
        <input
          type="hidden"
          name="user-rate"
          id="user-rate"
          value="{{ rate.rating }}"
        />
        {% endif %}

        <div class="title-genre">
          <h2 class="title-game">{{ game.name }}</h2>
          <h3 class="genre-game">{{ game.genre }}</h3>
        </div>

        <div class="average-rate">
          <div class="p-rate">
            <p>T H E C R I T I C - R A T E</p>
            <p class="fw-500">Average of game ratings</p>
          </div>

          <div class="bignumber-rate" id="avg-bignumber-rate">
            {{ average.avg | replace(".", "") }}
          </div>
        </div>

        <div class="text-bignumber-rate">
          <div class="p-rate">
            <p>M Y - R A T E</p>
            <p class="text-my-rate fw-500" id="text-rate">
              Hover to put your note
            </p>
          </div>

          <div class="bignumber-rate" id="bignumber-rate"></div>
        </div>

        <div class="rate" id="rate">
          <div class="rate-note rate-red r-1"></div>
          <div class="rate-note rate-red"></div>
          <div class="rate-note rate-red"></div>
          <div class="rate-note rate-yellow"></div>
          <div class="rate-note rate-yellow"></div>
          <div class="rate-note rate-yellow"></div>
          <div class="rate-note rate-green"></div>
          <div class="rate-note rate-green"></div>
          <div class="rate-note rate-green"></div>
          <div class="rate-note rate-green r-10"></div>
        </div>

        <div class="description mb-3">
          <p><b>Description</b></p>
          <p class="text description-game">{{ game.description }}</p>
        </div>
      </div>
    </div>

    <div class="container-2">
      <div class="top-comments mt-3">
        <div class="title-comments">
          <h4>theCritic's top comments</h4>
        </div>

        <div class="see-comment-section">
          {% for comment in comments %}
          <div class="comment-shadow shadow-lg p-3 mb-5 rounded">
            <div class="subtitle"><p>G A M E R - R E V I E W</p></div>
            <div class="rate-name">
              <div class="rate-square">{{ comment.rate_user | int }}</div>

              <h6 class="user-name">{{ comment.user_name }}</h6>
            </div>

            <div class="gamer-comment">
              {{ comment.comment_user | truncate(175) }}
            </div>

            <button
              class="button-more btn btn-success"
              data-bs-toggle="popover"
              data-bs-title="{{ comment.user_name }} - Full comment"
              data-bs-content="{{ comment.comment_user }}"
            >
              see complete comment
            </button>
          </div>
          {% endfor %}
        </div>

        <div class="user-comment">
          <h6>
            Let your comment about {{ game.name }} and express your opinion to
            the world!
          </h6>

          <form action="/register_comment" method="POST">
            <input
              type="hidden"
              name="id-game-comment"
              id="id-game-comment"
              value="{{ game.id }}"
            />
            <textarea
              class="form-control"
              name="user-comment"
              id="user-comment"
            ></textarea>
            <button type="submit" class="btn">
              send or update your comment
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="mt-4">//</div>
  </div>
</main>
<script src="/static/js/gamepage.js"></script>

{% endblock %}
