{% extends 'base.html' %}{% block title %}Game Page | TheCritic{% endblock %} {%
block head %} <link rel="stylesheet" href="/static/css/gamepage.css" />
{% endblock %} {% block content %}
<main>
  <div class="container-fluid">
    <div class="game-board mt-3">
      <div class="cover-board">
        <img
          class="blured-cover"
          src="{{ game.src_cover }}"
          alt="{{ game.name }}"
        />
        <img class="cover" src="{{ game.src_cover }}" alt="{{ game.name }}" />
      </div>

      <div class="infos-board">
        <h2 class="title-game">{{ game.name }}</h2>

        <h3 class="genre-game">{{ game.genre }}</h3>

        <div class="text-bignumber-rate">
          <p class="text-rate" id="text-rate">Hover to put your note</p>
          <div class="bignumber-rate" id="bignumber-rate"></div>
        </div>

        <div class="rate" id="rate">
          <div class="rate-note rate-red r-1"></div>
          <div class="rate-note rate-red"></div>
          <div class="rate-note rate-red"></div>
          <div class="rate-note rate-yellow"></div>
          <div class="rate-note rate-yellow"></div>
          <div class="rate-note rate-yellow"></div>
          <div class="rate-note rate-green"></div>
          <div class="rate-note rate-green"></div>
          <div class="rate-note rate-green"></div>
          <div class="rate-note rate-green r-10"></div>
        </div>

        <div class="description mb-3">
          <p><b>Description</b></p>
          <p class="text description-game">{{ game.description }}</p>
        </div>
      </div>
    </div>

    <div class="top-comments mt-3"></div>
    <div class="mt-5">//</div>
  </div>
</main>

<script src="/static/js/gamepage.js"></script>

{% endblock %}
